/* RESET */
li {
    list-style-type: none;
}
a {
    color: var(--clr-links);

}
* {
    box-sizing: border-box;
    margin: 0;

}
img {
    display:block;
    max-width:100%;
    max-height: 100%;
}
section {
    min-height:80vh;
    min-width: 50vw;
    max-width:60vw;
}


/* VARIABLES */
:root {
    /* COLOR */
    --clr-main-nav-title: #F3E3E3;
    --clr-default: #000;
    --clr-selecting: #F00;
    --clr-default-opposite: #f5eeee;
    --clr-content-row: #D9D9D9;
    --clr-links: #10f2fa;
    --clr-links-secondary: #464ee0;
    /* FONT*/
    --ff-default: Arial;
    /*FONT SIZE */
    --fs-section-heading: 2.5rem;
    --fs-main-nav: 2.75rem;
    --fs-default: 1rem;
    --fs-mobile: 0.5rem;
    --fs-list: 1.25rem;
    /* CARD */
    --clr-card-primary: #ff1ead;
    --card-size: 200px;

}
/* GENERAL */
body {
    font-family: var(--ff-default);
    min-height:100vh;


}
.selected {
    border:1px red dotted;
}


main {
    display:flex;
    place-content: center;
}
/* -- MAIN NAVIGATION ET BURGER MENU */
.nav-list {
    flex-wrap:wrap;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-nav {
    background-color: var(--clr-default);

}
.nav-list li a {
    text-decoration: none;
    color: var(--clr-main-nav-title);
    font-size: var(--fs-main-nav)
}


.menu-button {
    display:none;
    border:0;
    background-color: var(--clr-default);
}
.vertical-bar {
    width: 35px;
    height: 5px;
    background-color: var(--clr-default-opposite);
    margin: 6px 0;
}



@media (max-width: 600px) {
    .nav-list {

        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-list.active {
        padding:0;
        display: flex;

    }
    .nav-list.active li {
        text-align: center;
    }

    .menu-button {
        padding: 6px;
        display: block;
        width:50px;
        margin: 0 auto;

    }
    .menu-button div {
        width: 35px;
        height: 5px;
        background-color: var(--clr-default-opposite);
        transition: 0.4s;
    }


    .menu-button.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .menu-button.active div:nth-child(2) {
        opacity: 0;
    }

    .menu-button.active div:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
/*LANGUAGE-SELECTOR */
.language-selector {
    position: absolute;
    top:0;



}
.language-selector img {
    width:35px;
    height:23px;
}

.language-selector button {
    padding:2rem;

}

.language-selector__flag--selected {
    border: 2px yellow dotted;
}

/* BUSINESS CARD */


.business-card {
    position: fixed;
    bottom:2rem;
    right:2rem;

    width: calc(var(--card-size) * 1.586);
    height: var(--card-size);
    border-radius: 0.75rem;
    box-shadow:  0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    background: black;
    display: flex;
    place-content: center;
    align-items: center;
    color: var(--clr-default-opposite);

    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    &:hover {
        transform: scale(1.1);
        box-shadow:  0 32px 80px 14px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
    }


}
.label, .occupation {
    color:var(--clr-card-primary)
}

.name {
    font-size:2rem;
}

@media(max-width: 1000px) {
    .business-card {
        height:calc(var(--card-size)/1.55);
        bottom:0;
        left: calc(50% - (var(--card-size) * 0.793));
    }
}



/* CONTENT-ROW */

.wrapper {
    background-color: var(--clr-content-row);
}
main a {
    color: var(--clr-links-secondary);

}
main {
    font-size:calc(var(--fs-default)*1.75);
}
@media(max-width: 1000px) {
    main {
        font-size:calc(var(--fs-mobile)*1.75);
    }
}

/* INDEX CONTENTS TABLE */
.contents-list li {
    list-style-type: circle;
}


/*  BRIEF PRESENTATION */
#briefpresentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.briefpresentation__intro {
    grid-area: 1 / 1 / 2 / 3;
    text-align:center;
}
.briefpresentation__skills { grid-area: 2 / 1 / 3 / 2; }
.briefpresentation__education { grid-area: 2 / 2 / 3 / 3; }
.briefpresentation__experience { grid-area: 3 / 1 / 4 / 2; }

/* Diaporama */
/* RESET */
li {
    list-style-type: none;
}
a {
    color: var(--clr-links);

}
* {
    box-sizing: border-box;
    margin: 0;

}
img {
    display:block;
    max-width:100%;
    max-height: 100%;
}
section {
    min-height:80vh;
    min-width: 50vw;
    max-width:60vw;
}


/* VARIABLES */
:root {
    /* COLOR */
    --clr-main-nav-title: #F3E3E3;
    --clr-default: #000;
    --clr-selecting: #F00;
    --clr-default-opposite: #f5eeee;
    --clr-content-row: #D9D9D9;
    --clr-links: #10f2fa;
    --clr-links-secondary: #464ee0;
    /* FONT*/
    --ff-default: Arial;
    /*FONT SIZE */
    --fs-section-heading: 2.5rem;
    --fs-main-nav: 2.75rem;
    --fs-default: 1rem;
    --fs-mobile: 0.5rem;
    --fs-list: 1.25rem;
    /* CARD */
    --clr-card-primary: #ff1ead;
    --card-size: 200px;

}
/* GENERAL */
body {
    font-family: var(--ff-default);
    min-height:100vh;


}
.selected {
    border:1px red dotted;
}


main {
    display:flex;
    place-content: center;
}
/* -- MAIN NAVIGATION ET BURGER MENU */
.nav-list {
    flex-wrap:wrap;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-nav {
    background-color: var(--clr-default);

}
.nav-list li a {
    text-decoration: none;
    color: var(--clr-main-nav-title);
    font-size: var(--fs-main-nav)
}


.menu-button {
    display:none;
    border:0;
    background-color: var(--clr-default);
}
.vertical-bar {
    width: 35px;
    height: 5px;
    background-color: var(--clr-default-opposite);
    margin: 6px 0;
}



@media (max-width: 600px) {
    .nav-list {

        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-list.active {
        padding:0;
        display: flex;

    }
    .nav-list.active li {
        text-align: center;
    }

    .menu-button {
        padding: 6px;
        display: block;
        width:50px;
        margin: 0 auto;

    }
    .menu-button div {
        width: 35px;
        height: 5px;
        background-color: var(--clr-default-opposite);
        transition: 0.4s;
    }


    .menu-button.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .menu-button.active div:nth-child(2) {
        opacity: 0;
    }

    .menu-button.active div:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
/*LANGUAGE-SELECTOR */
.language-selector {
    position: absolute;
    top:0;



}
.language-selector img {
    width:35px;
    height:23px;
}

.language-selector button {
    padding:2rem;

}

.language-selector__flag--selected {
    border: 2px yellow dotted;
}

/* BUSINESS CARD */


.business-card {
    position: fixed;
    bottom:2rem;
    right:2rem;

    width: calc(var(--card-size) * 1.586);
    height: var(--card-size);
    border-radius: 0.75rem;
    box-shadow:  0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    background: black;
    display: flex;
    place-content: center;
    align-items: center;
    color: var(--clr-default-opposite);

    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    &:hover {
        transform: scale(1.1);
        box-shadow:  0 32px 80px 14px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
    }


}
.label, .occupation {
    color:var(--clr-card-primary)
}

.name {
    font-size:2rem;
}

@media(max-width: 1000px) {
    .business-card {
        height:calc(var(--card-size)/1.55);
        bottom:0;
        left: calc(50% - (var(--card-size) * 0.793));
    }
}



/* CONTENT-ROW */

.wrapper {
    background-color: var(--clr-content-row);
}
main a {
    color: var(--clr-links-secondary);

}
main {
    font-size:calc(var(--fs-default)*1.75);
}
@media(max-width: 1000px) {
    main {
        font-size:calc(var(--fs-mobile)*1.75);
    }
}

/* INDEX CONTENTS TABLE */
.contents-list li {
    list-style-type: circle;
}


/*  BRIEF PRESENTATION */
#briefpresentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.briefpresentation__intro {
    grid-area: 1 / 1 / 2 / 3;
    text-align:center;
}
.briefpresentation__skills { grid-area: 2 / 1 / 3 / 2; }
.briefpresentation__education { grid-area: 2 / 2 / 3 / 3; }
.briefpresentation__experience { grid-area: 3 / 1 / 4 / 2; }

/* Diaporama */
#diaporama {
    text-align: center;
}

.diaporama__content {
    display: flex;
    place-content: center;
    align-items: center;
    position: relative;
}

.diaporama__arrow-right, .diaporama__arrow-left {
    font-size:3rem;
    color: var(--clr-default-opposite);
    background-color: var(--clr-default);
}
/* Video */
video {
    width:100%;
}